@import "tailwindcss";
@import "@fontsource-variable/nunito-sans";
@import "@fontsource-variable/rubik";
@import "@fontsource-variable/reddit-mono";

@theme {
  --font-texto: "Nunito Sans", sans-serif;
  --font-titulo: "Rubik", sans-serif;
  --font-numeros: "Reddit Mono", monospace;
}

@theme {
  --azul-oscuro: #022036;
  --azul: #092d4a;
  --celeste: #1d7584;
  --naranja: #e48c25;
  --blanco: #fcfeff;
  --rojo: #ac0606;
  --verde: #06ac17;
  --sin-presionar: #d9d9d9;
  --warning: #ffdd00;
  --hover-btn: #009fba;
}
